<!DOCTYPE html>
<html lang="en">
<head>
    <title> MNM Recommendation Center! </title>
    <meta charset="utf-8">
</head>
<body>
    <form action = "last.html" method="post">
	Please enter your favorite music or movie (MAX 5)</br>
	<input type="radio" name="MoM" value="music"> Music
	<input type="radio" name="MoM" value="movie"> Movie
    <div>
        <label for="id"> Music or Movie? 1: </label>
        <input type="text" name="M1"/>
    </div>
    <div>
        <label for="id"> Music or Movie? 2: </label>
        <input type="text" name="M2"/>
    </div>
    <div>
        <label for="id"> Music or Movie? 3: </label>
        <input type="text" name="M3"/>
    </div>
    <div>
        <label for="id"> Music or Movie? 4: </label>
        <input type="text" name="M4"/>
    </div>
    <div>
        <label for="id"> Music or Movie? 5: </label>
        <input type="text" name="M5"/>
    </div>
    <div class="button">
        <input type="submit" value="submit">
    </div>
    </form>
</body>
</html> 