<!DOCTYPE html>
<html lang="en">
<head>
    <title> MNM Recommendation Center! </title>
    <meta charset="utf-8">
</head>
<body>
	<h4> Which service would you like to use? </h4>
	Music or Movie Search:
    <form action = "/search" method="post">
        <div class="button">
            <input type="submit" value="SEARCH">
        </div>
    </form>
	<br>
	Genre Recommendation:
    <form action = "/recommend" method="post">
        <div class="button">
            <input type="submit" value="RECOMMENDATION">
        </div>
    </form>
    <br>
    <form action = "/logout" method="post">
        <div class="button">
            <input type="submit" value="LOGOUT">
        </div>
    </form>
</body>