<!DOCTYPE html>
<html lang="en">
<head>
    <title> MNM Recommendation Center! </title>
    <meta charset="utf-8">
</head>
<body>
    <p>
        <strong>Search Result :</strong>
        <%- content %>
    </p>
    <br>
    <form action = "/search" method="post">
        <div class="button">
            <input type="submit" value="BACK">
        </div>
    </form>
</body>
</html> 