<!DOCTYPE html>
<html lang="en">
<head>
    <title> MNM Recommendation Center! </title>
    <meta charset="utf-8">
</head>
<body>
    <form action = "last.html" method="post">
	Music or Movie?</br>
	<input type="radio" name="MoM" value="music"> Music
	<input type="radio" name="MoM" value="movie"> Movie
	<br>
	<br>
	
	Which filter would you search for?</br>
	<input type="radio" name="filter" value="genre"> Genre
	<input type="radio" name="filter" value="producer"> Singer (or Director)
    <div>
        <label for="id"> Filter: </label>
        <input type="text" name="text"/>
    </div>
    <div class="button">
        <input type="submit" value="SEARCH!">
    </div>
    </form>
</body>
</html> 